<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://airplaneexam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/105b3057-dfa4-498c-b742-c6e1fcd7f15d/resourceGroups/airplaneExam_group/providers/Microsoft.Web/sites/airplaneExam</ResourceId>
    <UserName>$airplaneExam</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://airplaneexam.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>